### CLT

In [ ]:
salario = 1200
gasolina = 200
internet = 200
alimentos = 1500
agua = 100
luz = 300 
condominio = 570

quanto_sobra = 0